* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.work-sans {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;

}

.container {
    width: 1140px;
    margin: 0 auto;
}

#banner {
    background-image: url(images/banner/banner1.png);
    width: 100vw;
    min-height: 100vh;
    background-size: 100% auto;
    background-repeat: no-repeat;

}

.content {
    width: 525px;
    position: absolute;
    right: 231px;
    top: 215px;
    text-align: right;

}

.content h1 {
    font-size: 65px;
    font-weight: bold;
    color: #151414;

}

.content p {
    font-size: 18px;
    color: #444343;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 32px;

}

.content button {
    width: 160px;
    height: 64px;
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    /* text-align: right; */


}

#hero .hero-container {
    margin: 130px auto 0;
    max-width: 1077px;
    height: 723px;
    display: flex;
    justify-content: space-between;
    gap: 92px;

    /* position: relative; */
}

/* 
.hero-container img{
    position: absolute;
    top: 0;
    left: 0;
}*/

.hero-container .hero-content {
    padding-top: 350px;
}

.hero-content ul {
    list-style: none;
}

.hero-content ul li {
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.hero-content ul li span {
    width: 24px;
    height: 24px;
    color: #16D887;
    margin-right: 9px;
}

.hero-content h1 {
    font-size: 40px;
    font-weight: bold;
    color: #151414;
}

.hero-content p {
    font-size: 16px;
    line-height: 26px;

    color: #444343;
}

#my-plan {
    width: 100vw;
    height: 100vh;
}

.plan-container {
    max-width: 1140px;
    margin: 0 auto;
}

.plan-container .plan-title {
    margin-top: 130px;         
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 55px;

}

.plans {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 137px;
}

.plan-card {
    text-align: center;
}

.plan-card img {
    width: 93px;
    height: 93px;

}

.plan-card h1 {
    font-size: 30px;
    font-weight: bold;
    color: #151414;
    margin-bottom: 16px;

}

.plan-card p {
    font-size: 25px;
    color: #737272;

}

.contact {
    background-image: url(images/gradient2.png);
    width: 100%;
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    position: relative;
    padding: 60px 64px;
   
}

.contact::before{
    content: " ";
    position: absolute;
    inset: 0;
    background: url(images/watch.png);
     background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    z-index: -1;
    mix-blend-mode: multiply;
    opacity:1;
}

.contact h1{
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 16px;
}
.contact button{
    font-size: 20px;
    font-weight: 600;
    color: #F15B22;
    padding: 20px 36px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#footer{
    width: 100vw;
    height: 577px;
    background-color: #151414;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
#footer .footer-container{
    height:317px ;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 331px;

}
.feature-section h1{
   font-size: 45px;
    font-weight: bold;
    color: #F8F8F8;
    margin-bottom: 16px;
}
.feature-section p{
   font-size: 16px;
    /* font-weight: bold; */
    color: #FFFFFF;
    margin-bottom: 24px;
    line-height: 26px;
}
.feature-section a{
    text-decoration: none;
   font-size: 16px;
    /* font-weight: bold; */
    color: #FFFFFF;
    margin-bottom: 24px;
    line-height: 26px;
}
.social-icon{
  display: flex;
  gap: 17px;
  margin-top: 16px;

}
.social-icon img{
 cursor: pointer;

}
.subscribe h1{
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.subscribe input{
    width:325px ;
    height: 64px;
   border-radius: 5px;
     background: transparent;
     border: 1px solid #dbd6d6;
     outline: none;
     margin-bottom: 16px;

}
.subscribe input::placeholder{
  font-size: 18px;
     color: #F3F3F3;
     padding: 22px;

}
.subscribe button{
    font-size: 20px;
     color: #F15B22;
     font-weight: 600;
     padding: 20px 36px;
     background-color: white;
     border-radius: 5px;
     cursor: pointer;

}


